.spinner_loading_container {
  margin: auto;
  width: 2rem;
  height: 2rem;
}

.spinner_loading_container .line_Container {
  width: 100%;
  height: 100%;
}

.spinner_loading_container .line_Container .first_Line {
  border: 3px transparent solid;
  border-top-color: #afafaf;
  border-left-color: #afafaf;
  border-bottom-color: #afafaf;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spinner 0.7s infinite ease;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
